<h2>Create recipe</h2>
<div><label>Title:<input [(ngModel)]="recipe.title"></label><div>
<app-image-upload (imageUpload)="recipe.image=$event"></app-image-upload>
<div><label>Summary:<input [(ngModel)]="recipe.summary"></label></div>
<div>
  <label>Prep time:<input [(ngModel)]="recipe.prepTime" placeholder="10"></label>
  <label>Cook time:<input [(ngModel)]="recipe.cookTime" placeholder="10"></label>
  <label>Difficulty:
    <select [(ngModel)]="recipe.difficulty">
      <option *ngFor="let opt of difficulties" value="{{opt.id}}">{{opt.name}}</option>
    </select>
  </label>
  <label>Servings:<input [(ngModel)]="recipe.servings"></label>
</div>
<app-manage-ingredients [recipe]="recipe"></app-manage-ingredients>
<app-manage-steps [recipe]="recipe"></app-manage-steps>
<div>
  <label>Conclusion:
    <input [(ngModel)]="recipe.conclusion">
  </label>
</div>
<div>
  <h3>Tags</h3>
  <div *ngFor="let tag of recipe.tags">{{tag.description}}<button (click)="recipe.deleteTag(tag)">-</button></div>
  <div><app-search-tags (selectedTag)="recipe.addTag($event)"></app-search-tags></div>
</div>
<button (click)="save()">Save</button>
