<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Sample Web Application</display-name>
	<listener>
		<listener-class>org.macrofoods.backend.servlets.ContextListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>TestTransaction</servlet-name>
		<display-name>TestTransaction</display-name>
		<description></description>
		<servlet-class>org.macrofoods.backend.servlets.TestTransactionServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Foods</servlet-name>
		<display-name>Foods</display-name>
		<description></description>
		<servlet-class>org.macrofoods.backend.servlets.FoodsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SaveRecipeServlet</servlet-name>
		<display-name>SaveRecipeServlet</display-name>
		<description></description>
		<servlet-class>org.macrofoods.backend.servlets.SaveRecipeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TopRecipesServlet</servlet-name>
		<display-name>TopRecipesServlet</display-name>
		<description></description>
		<servlet-class>org.macrofoods.backend.servlets.TopRecipesServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SearchTagsServlet</servlet-name>
		<display-name>SearchTagsServlet</display-name>
		<description></description>
		<servlet-class>org.macrofoods.backend.servlets.SearchTagsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetRecipeServlet</servlet-name>
		<display-name>GetRecipeServlet</display-name>
		<description></description>
		<servlet-class>org.macrofoods.backend.servlets.GetRecipeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ImagesServlet</servlet-name>
		<display-name>ImagesServlet</display-name>
		<description></description>
		<servlet-class>org.macrofoods.backend.servlets.ImagesServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TokenServlet</servlet-name>
		<display-name>TokenServlet</display-name>
		<description></description>
		<servlet-class>org.macrofoods.backend.servlets.TokenServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TestTransaction</servlet-name>
		<url-pattern>/v1/tests/transaction</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Foods</servlet-name>
		<url-pattern>/v1/foods</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SaveRecipeServlet</servlet-name>
		<url-pattern>/v1/recipes/save</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TopRecipesServlet</servlet-name>
		<url-pattern>/v1/recipes/top</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SearchTagsServlet</servlet-name>
		<url-pattern>/v1/tags</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetRecipeServlet</servlet-name>
		<url-pattern>/v1/recipes/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ImagesServlet</servlet-name>
		<url-pattern>/v1/images/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TokenServlet</servlet-name>
		<url-pattern>/v1/tokens</url-pattern>
	</servlet-mapping>
	<resource-ref>
		<description>DB Connection</description>
		<res-ref-name>jdbc/postgres</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
		<res-sharing-scope>Unshareable</res-sharing-scope>
	</resource-ref>
</web-app>
