<h2>Top Recipes</h2>
<div class="fbs-recipe-list">
  <div class="fbs-recipe-preview" *ngFor="let recipe of recipes ">
    <div class="fbs-recipe-preview-container">
      <a routerLink="/recipes/{{recipe.id}}"><img src="{{recipe.image}}"></a>
      <div class="fbs-recipe-overview">
        <h3 class="fbs-recipe-title"><a>{{recipe.title}}</a></h3>
        <div>{{recipe.summary}}</div>
        <div class="fbs-recipe-macros" *ngIf="recipe.macros">
          <span>Kcal</span> <span>{{recipe.macros.calories | number : '1.0-0'}}</span>
          <span>Protein</span> <span>{{recipe.macros.protein | number : '1.0-0' }}G</span>
          <span>Carbs</span> <span>{{recipe.macros.carbs | number : '1.0-0' }}G</span>
          <span>Fat</span> <span>{{recipe.macros.fat | number : '1.0-0' }}G</span>
        </div>
        <div class="fbs-recipe-categories">
          <span *ngFor="let tag of recipe.tags">
            {{tag.description}}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
