<h2>Top Recipes</h2>
<div class="recipe-list">
  <div class="preview" *ngFor="let recipe of recipes ">
    <div class="container">
      <a routerLink="/recipes/{{recipe.id}}"><img src="{{recipe.image}}"></a>
      <div class="overview">
        <h3 class="title"><a>{{recipe.title}}</a></h3>
        <div>{{recipe.summary}}</div>
        <div class="macros">
          <app-nutrient-list [useLongNames]="false" [nutrients]="[
          recipe.facts.energy(),
          recipe.facts.protein(),
          recipe.facts.carbs(),
          recipe.facts.fat()
          ]">
          </app-nutrient-list>
        </div>
        <div class="tags" *ngIf="recipe.tags">
          <ul>
            <li *ngFor="let tag of recipe.tags">{{tag.description}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
