
.recipe-list {
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  font-size: 15px;
}

.preview {
  margin: 2px 2px 2px 2px;
  background-color: #FFFFFF
}

.recipe-list .preview .container {
  width: 100%;
}


.fbs-recipe-overview {
  font-size: 13px;
}


@media (min-width: 718px){
  .recipe-list .preview {
      width: 48%;
      margin: 2px 2px 2px 2px;
    }
}


@media (min-width: 1400px){
  .recipe-list .preview {
      width: 32%;
      margin: 2px 2px 2px 2px;
    }
}


@media (min-width: 1900px){
  .recipe-list .preview {
      width: 24.5%;
      margin: 2px 2px 2px 2px;
    }
}
