<app-image-upload></app-image-upload>
<app-ingredients [food]="selectedFood"></app-ingredients>
<input #searchBox id="search-box" (keyup)="search(searchBox.value)" />
<div>
  <div *ngFor="let food of foods | async" (click)="onSelect(food)">
    <div><span>{{food.description}}</span> <span>({{food.category}})</span></div>
    <ul>
      <li>{{food.kcal}} <span>Kcal</span></li>
      <li>{{food.protein}} <span>Proteins</span></li>
      <li>{{food.carbohydrate}} <span>Carbs</span></li>
      <li>{{food.fat}} <span>Fats</span></li>
    </ul>
  </div>
</div>
<app-steps></app-steps>
