<h3>Ingredients<button (click)="recipe.addGroup()">+</button></h3>
<div *ngFor="let group of recipe.groups">
  <input [(ngModel)]="group.name"><button (click)="recipe.deleteGroup(group)">Delete</button>
  <div *ngFor="let ing of group.ingredients">
    <span><input [(ngModel)]="ing.amount" (keyup)="group.calculateSums()">gr, </span>
    <span>{{ing.food.description}}</span>
    <button (click)="group.delete(ing.food)">Delete</button>
  </div>
  <ul *ngIf="group.calTotal!=0">
    <li>{{group.calTotal}} <span>Kcal</span></li>
    <li>{{group.protTotal}} <span>Proteins</span></li>
    <li>{{group.carbTotal}} <span>Carbs</span></li>
    <li>{{group.fatTotal}} <span>Fats</span></li>
  </ul>
  <div><app-foods (selectedFood)="group.add($event)"></app-foods></div>
</div>
