body {
  font-size: calc(14px + 6 * ((100vw - 320px) / 680));
  margin: 2em;
  font-weight: 400;
  background-color: #FCFFF5;
}

h1, h2, h3 {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #193441;
  font-size: 3em;
  border: 10px;
  border-width: 0px 0px 4px 0px;
  border-style: solid;
  border-color: #193441;
  margin: 0;
}

h2 {
  font-size: 2em;
  text-transform: capitalize;
  margin: 4px 0 0 0;
}

h3 {
  font-size: 1.2em;
  font-weight: 500;
  margin: 0px 0px;
}

h4 {
  font-size: 1em;
  font-weight: 500;
}

input[type="text"], button {
  color: #888;
  font-family: Cambria, Georgia;
}
/* everywhere else */
* {
  /*color:#7a7678;*/
  font-family: Arial, Helvetica, sans-serif;
}


.fbs-recipe-details {
  width: 100%;
  display: block;
}

.tags ul {
  padding: 0px 0px 5px 0px;
  margin: 0;
  border-width: 0px 0px 2px 0px;
  border-style: solid;
}

.tags li {
  display: inline-block;
  background-color: #91AA9D;
  color:#FFF;
  margin-right: 0.5em;
  padding: 0.2em;
  border-radius: 0.2em;
  font-size: 0.8em;
}

.preview .tags ul {
  border-width: 0;
  border-style: none;
}

.fbs-recipe-details-container {
  margin: 5px 0px 0px 0px;
}

.macros ul {
  padding: 0;
  margin: 1px 0 1px 0;
}

.macros li {
  display: inline-block;
  margin-right: 0.5em;
  font-weight: 600;
  font-size: 0.95em;
}

.macros .nutrient .value,
.macros .nutrient .units {
  color: #3E606F;
}


.fbs-recipe-details img {
  width: 100%;
  max-width: 661px;
  max-height: 496px;
}

.fbs-recipe-details-times ul {
  padding: 0;
}

.fbs-recipe-details-times li {
  display: inline-block;
  margin-right: 0.5em;
  font-weight: 600;
  font-size: 0.95em;
}

.fbs-recipe-details-times .value,
.fbs-recipe-details-times .unit {
  color: #3E606F;
}


.fbs-recipe-details-overview {
  max-width: 661px;
}

.fbs-recipe-details-facts {
  border-width: 1px;
  padding: 10px;
  border-style: solid;

}

.fbs-recipe-details-facts h3 {
  font-weight: 600;
  border-width: 0px 0px 5px 0px;
  border-style: solid;
}

.fbs-recipe-details-facts h4 {
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  margin: 5px 0px 5px 0px;
}

.fbs-recipe-details-facts ul {
  list-style: none;
  border-width: 0px 0px 2px 0px;
  padding: 0px 0px 0px 20px;
  border-style: solid;
  margin: 0;
}

.fbs-recipe-details-facts li:last-child {
  border-width: 0;
}

.fbs-recipe-details-facts li {
  border-width: 0px 0px 1px 0px;
  border-style: solid;
}

.fbs-recipe-details-facts .header {
  border-width: 0px 0px 2px 0px;
  border-style: solid;
}

.fbs-recipe-details-facts .nutrient {
  display: -webkit-flex;
  display: flex;
  justify-content: flex-end;
}

.fbs-recipe-details-facts .nutrient .name {
  margin-right: auto;
}

.preview img {
  width: 100%;
}

@media (min-width: 900px){
  .fbs-recipe-details .macros {
    display: none;
  }

  .fbs-recipe-details-maincontent {
   display: inline;
  }

  .fbs-recipe-details-overview {
    float:left;
    margin-right: 3%;
  }

  .fbs-recipe-details-container {
    display: -webkit-flex;
    display: flex;
    align-items: flex-start;
  }
  .fbs-recipe-details-main {
      max-width: 70%;
    }
    .fbs-recipe-details-facts {
     width: 27%;
    }
}

/*
#FCFFF5
#D1DBBD
#91AA9D
#3E606F
#193441
*/
